<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Super Team Picker</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/js/jquery-3.2.1.slim.min.js" charset="utf-8">
    </script>
    <script src="/js/popper.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" charset="utf-8"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-primary" style="color: white;">
     <a class="navbar-brand" href="/home">Super Team Picker</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarNav">
       <ul class="navbar-nav ml-auto mr-2">

         <li class="nav-item">
           <a class="nav-link"   href="/">Home</a>
         </li>

         <li class="nav-item">
           <a class="nav-link"   href="/cohorts">Cohorts</a>
         </li>

         <li class="nav-item">
           <a class="nav-link"   href="/cohorts/new">New Cohort</a>
         </li>

      </ul>
     </div>
   </nav>

     <div style="margin-left: 15px;">
