<%- include('../partials/header') %>


<form action="/cohorts" method="POST";" >
  <div class="form-group ">
    <label>Logo Url</label>
    <input
      class="form-control"
      type="text"
      name="logoUrl"
      value=""
      placeholder="e.g. https://wwww.example.com/some.png"
    >
  </div>

  <div class="form-group ">
    <label>Name</label>
    <input
      class="form-control"
      type="text"
      name="name"
      value=""
      placeholder="Flying Funks"
    >
  </div>

  <div class="form-group">
    <label>Members</label>
    <textarea
      class="form-control"
      rows='3'
      name='members'
      placeholder="John Snow, Diandra Smith, Atya Stark"
    ></textarea>
  </div>

  <div class="row">
  <div class="col-auto ml-auto">
    <input
    class="btn btn-outline-primary"
    type='submit'

    />
  </div>
  </div>

</form>

<%- include('../partials/footer') %>
