
  <% @post.each do |post| %>

  <div class="flex-container" style="display: flex; flex-wrap: wrap; align-content: flex-start">

      <div style="margin:15px; margin-left:30px;" class="card col-lg-4">
        <div class="" style="padding: 10px;">
          <div class="form-inline">
            <p class="card-text">
              <%= link_to post.title, post_path(post) %></p>
          </div>

          <p class="card-text" style="  display: block;
      width: 95%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;"><%= post.body %></p>

      </div>
    </div>

  </div>

<% end %>
