<div class="flex-container  p-3 " style="display: flex; flex-wrap: wrap; flex-direction: row;">

  <% @post.each do |post| %>

    <div style="margin-top:30px; margin-left:0px;" class="flex-item col-xl-4 col-lg-6 col-md-12">
      <div class="card" style="padding: 12px;">
        <div class="form-inline">
          <p class="card-text">
            <%= link_to post.title, post_path(post) %></p>
        </div>

        <p class="card-text" style="
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;"><%= post.body %></p>
      </div>
    </div>
  <% end %>
</div>
